.Alert-icon{
    height: 45px;
    padding: 0 25px;
}
.Alert{
    width: 290px;
    height: 70px;
    display: flex;
    align-items: center;
    top: 20%;
    right: 0;
    position: absolute;
    z-index: 10;
    border-radius: 8px;
}
.Alert-information{
    position: relative;
    top:-2px;
}
.Alert-title{
    font-size: 18px;
    font-weight: 700;
}
.Alert-text{
    font-size: 16px;
    font-weight: 600;
}