.Allcity-container{
    margin: 40px 0px;
    padding: 2px;
}
.Allcity-divInput{
    display: flex;
    justify-content: center;
}

.Allcity-input{
    justify-content: center;
    width: 310px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.Allcity-input::placeholder{
    color: #a1a1aa;
}

.Allcity-input:focus, Allcity-input:hover {
    outline: none;
    border-color: rgba(104, 36, 63, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }

.Allcity-Printcity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 85vw;
}

@media (max-width: 320px){
    .Allcity-input{
        width: 290px;
    }
}

.Cities-Loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(0, 0, 0);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

