
.CalltoAction-similbtn {
    padding: .8rem 2.8rem;
    margin: 1rem;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 8px;
}

.CalltoAction-similbtn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.CalltoAction-similbtn:hover::before {
    transform: translateX(0);
}
.CalltoAction-similbtn:hover{
    color: rgba(234,210,172,1);
}

.CalltoAction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CalltoAction-img{
    margin-top: 0px;
    padding: 0px;
}
.CallltoAction-phrase{
    padding: 10px 0px;
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 400;
}

@media (max-width:768px) {
    .CalltoAction-img{
        margin-top: 30px;
        max-height: 200px;
        max-width: 500px;
    }
    .CallltoAction-phrase{
        margin: 15px 0px;
        font-size: 25px;
        font-weight: 400;
    }
}

@media (max-width:700px) {
    .CalltoAction-img{
        max-height: 200px;
        max-width: 310px;
    }
    .CallltoAction-phrase{
        margin: 15px 5px;
        font-size: 15px;
        font-weight: 400;
        padding: 10px;
        text-align: center;
    }
    .CalltoAction-similbtn{
        padding: 12px 30px;
    }
}