.Comment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* user who made the comment */
.Comment-user{
    padding: 5px;
    margin-bottom: 16px;
}
.Comment-containerimg{
    width: 3rem;
    object-fit: cover;
}
.Comment-img{
    border-radius: 50%;
    width: 100%;
}
/* .CommentAndUserName{
    background-color: bisque;
} */


.Comment-p{
    background-color: rgba(255, 255, 255, 0.884);
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 6px;
    resize: none;
    width: 60vw;
    margin-bottom: 5px;
    border-radius: 3px;
}

/* Text Comment ⬇ */
.commentTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Comment-h3{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.commetSvg{
    margin: 5px;
    cursor: pointer;
}
.Comment-full{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Comment-Button {
    color: #090909;
    padding: 8px;
    border-radius: 3px;
    background: #e8e8e86f;
    border: 0;
    transition: all .3s;
    box-shadow: 4px 4px 12px #7c7c7cb5;
    width: 80px;
    margin: 5px 0;
    cursor: pointer;
}  
.Comment-Button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}

/* .Comment-ButtonContainer{
    display: flex;
} */
.Comment-form{
    width: 100%;
}

.Comment-textarea{
    width: 40%;
    font-size: 20px;
}
.Comment-andButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
@media (min-width: 576px) {
    .Comment-container{
        width: 100%;
    }
    .Comment-Container2{
        margin: auto;
    }
    .Comment-p{
        width: 45vw;
        margin-bottom: 20px;
    }
    .Comment-form{
        width: 100%;
    }
}
