.Footer-container{
    background-color: #4281a4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 24vh;
    width: 100%;
    gap: 0.1rem;
    padding: 0.3rem;
    padding-top: 1rem;
}

.Footer-web{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 26px;
    font-weight: 600;
}
.Footer-redes{
    display: flex;
    gap:25px;
}
.Footer-icon{
    width: 50px;
    filter: invert(1);
}
.Footer-icon2{
    width: 60px;
    color: white;
}
.Footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.Footer-github{
    text-decoration: none;
    color: white;
}

.Footer-scroll {
    padding-left: 0.5rem;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}

.Footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Footer-box{
    display: flex;
    gap: 2rem;
    align-content: center;
}

.Footer-navLink{
    padding: .3rem 1rem;
    margin: .5rem;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 8px;
}

.Footer-navLink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.Footer-navLink:hover::before {
    transform: translateX(0);
}
.Footer-navLink:hover{
    color: rgba(66,129,164,1);
}


@media (max-width: 768px) {
    .Footer-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Footer-copyright{
        font-size: 22px;
        padding: 0.5rem;
    }
    .Footer-icon{
        width: 40px;
       
    }
    .Footer-navLink{
        font-size: 22px;
    }
    .Footer-nav{
        display: flex;
        flex-direction: row;
    }
}


@media (max-width: 320px) {
    .Footer-copyright{
        font-size: 22px;
    }
    .Footer-nav{
        margin: 0.5rem;
    }
    .Footer-navLink{
        padding: 0.4rem;
    }
    .Footer-box{
        gap: 0.2rem;
    }
}