header{
    display: flex;
    background-color: #fe938c;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 2;
}

.Header-link{
    padding: 0.3rem 1rem;
    margin: 1rem;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 8px;
}

.Header-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.Header-link:hover::before {
    transform: translateX(0);
}
.Header-link:hover{
    color: rgb(254,147,140);
}

.Header-button{
    background: none;
    border: none;
}

.Header-LinksContainer{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.Header-NavMenuButton{
    background: none;
    border: none;
    display: none;
}

.Header-NavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}

.Header-Backgound{
    display: none;
}

.Header-Nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-NavClosse{
    background: none;
    border: none;
    display: none;
}

.Header-logo{
    height: 6rem;
}

.Header-login,
.Header-NavCloseIcon,
.Header-NavMenuIcon{
    height: 3rem;
}

.Header-menu{
    position: absolute;
    background-color: #fe948c;
    top: 120px;
    right: 0;
}
.Header-profileMenu{
    padding: 0.2rem 0.9rem;
    margin: .3rem;
    font-size: 26px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header-li{
    padding: 0.3rem 1rem;
    margin: .5rem;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 8px;
}

.Header-li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.Header-li:hover::before {
    transform: translateX(0);
}
.Header-li:hover{
    color: #fe948c;
}
.Header-signOut{
    border: none;
    padding: none;
    background: none;
}
.Header-loginphoto{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (max-width:782px){
    header{
        padding: 1.5rem 2.5rem;
    }
    .Header-nav{
        position:fixed;
        top: 118px;
        left:100%;
        background-color: #fe938c;
        height: 100%;
        transition: left 0.3s;
    }
    .Header-NavMenuButton{
        display: block;
    }
    .Header-LinksContainer{
        flex-direction: column;
        gap: 2rem;
        position: relative;
        top:30px;
        transition: left 0.3s;
    }
    .Header-Backgound{
        display: block;
        position: absolute;
        overflow: hidden;
        left: 100%;
        width: 100vh;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .isActive{
        left:0px;
    }

    .HeaderisActive{
        position: sticky;
        top: 0;
    }
    .Header-menu{
        position: absolute;
        background-color: #fe948c;
        top: 118px;
        right: 0;
    }
    .Header-logo{
        height: 4.5rem;
    }
    
    .Header-login,
    .Header-NavCloseIcon,
    .Header-NavMenuIcon{
        height: 2.5rem;
    }
}