.MyTineraries-h2{
    text-align: center;
    padding-top: 15px;
    font-size: 32px;
}

.MyTineraries-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.MyTineraries-h4{
    margin: 7px;
}

.MyTineraries-itneraries{
    margin: 7px;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(49, 47, 47, 0.604);
}

.MyTineraries-btn{
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem 1rem;
    margin: 2rem 1rem;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 8px;
}

.MyTineraries-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.MyTineraries-btn:hover::before {
    transform: translateX(0);
}
.MyTineraries-btn:hover{
    color: rgba(230,184,156,1);
}

.buttom{
    border: none;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.buttom-link{
   background-color: rgb(255, 255, 255);
   text-decoration: none;
   color: black;
   padding:  5px 10px;
   border-radius: 5px;
   margin: 10px;
}
.container-btn{
    display: flex;
}