.Singup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px ;
    min-height: 56vh;
}

.Singup-input{
    justify-content: center;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f0f0;
    color: #0d0c22;
    transition: .3s ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Singup-input::placeholder{
    color: #9e9eaa;
}

.Singup-input:focus, Allcity-input:hover {
    outline: none;
    border-color: rgba(104, 36, 63, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.Singup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 15px;
}
.Singup-google{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.Singup-btn{
    margin: 15px;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}
.signUp-h2{
    margin:15px
}
@media (min-width: 500px) {
    .Singup-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 15px;
    }
}
@media (min-width: 1024px) {
    .Singup-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32%;
        margin: 15px;
    }
}