.Under-container{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        height: 80vh;
    }
.Under-image{
    width: 60%;
}

@media screen and (max-width:782px){
    .Under-image{
        width: 90%;
    }
}