
.Welcome-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.Welcome-background{
    width: 200vh;
    opacity: .2;
    position: absolute;
}

.Welcome-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}

.Welcome-title{
    font-size: 110px;
    font-weight: 700;
}

.Welcome-slogan{
    font-size: 30px;
}

@media screen and (max-width:782px){
    .Welcome-title{
        font-size: 18vw;
    }
    
    .Welcome-slogan{
        font-size: 6vw;
    }
}